// colors
$textColorPrimary: rgb(250 250 250);
$textColorSecondary: rgb(30, 30, 30);
$backgroundColorPrimary: rgb(55, 55, 55);

// images
$imageCover: url(../img/yellow-gloves.jpg);
$imageContact: url(../img/beekeeper.jpg);
$imageBook: url(../img/flying-bee.jpg);