@import "reset";
@import "mixins";
@import "variables";

header{
    background-color: $backgroundColorPrimary;
}

.main-nav{
    ul{
        display: flex;
        justify-content: center;
    }
    a{
        display: block;
        color: $textColorPrimary;
        text-transform: uppercase;
        font-weight: 300;
        padding: 20px;
        &:hover{
            // color lightening function
            background:lighten($backgroundColorPrimary, 6);
        }
    }
}

.main-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 100%;
    background-image: $imageCover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .main-textblock{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        color: $textColorPrimary;

        h1{
            font-size: 70px;
            padding: 15px;
            text-align: center;
            font-weight: 400;
        }

        h2{
            font-weight: 400;
            text-align: center;
        }

        img{
            @include round-graphic;
        }

    }

    .main-social{
        position: relative;
        top: 110px;

        ul{
            display: flex;
            justify-content: center;
        }
       
        .fab{
             color: white;
             font-size: 35px;
             display: block;
             padding: 0px 7px;
        }
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0px;
    color: $textColorSecondary;

    li{
        width: 275px;
        margin: 0px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        margin: 30px;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
    }

    h2{
        font-weight: 700;
        margin: 10px 0px;
    }

    .about-graphic-container{
        display: flex;
    }

    img{
        @include round-graphic;
        border-color: $textColorSecondary;
        margin: 20px 0px;
    }
}





